// Styles for cursor module

$cursor-size: 0.2rem;

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.cursor {
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: $cursor-size;
    height: $cursor-size;
    border-radius: 100px;
    mix-blend-mode: difference;
    opacity: 0;

    &__icon,
    &__icon--drag {
        @extend .material-icons;
        position: absolute;
        @include align(c, c);
        font-size: 0.36rem;
        opacity: 0;
    }

    &__icon--drag {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    &__spiner {
        position: absolute;
        @include align(c, c);
        width: 0.62rem;
        height: 0.62rem;

        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 0.35rem;
        box-sizing: border-box;
        opacity: 0;
        animation: spiner 0.8s ease-in-out infinite;
        animation-play-state: paused;
    }

    @keyframes spiner {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        95% {
            transform: translate(-50%, -50%) rotate(350deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(1turn);
        }
    }
}
