// Footer styles

.footer {
    position: fixed;
    z-index: 50000;
    @include indentation(left);
    @include indentation(right);
    @include indentation(bottom);

    &__event-button {
        overflow: hidden;
        position: absolute;
        @include align(c, b);
        height: 0.42rem;

        &__item {
            display: block;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 0.28rem;
            line-height: 0.42rem;
            font-weight: 600;
        }
    }
}
