// Projects styles

.projects {
    height: 100vh;
    width: 100%;

    .container-full {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-slide {
        width: auto;
    }

    &__container {
        position: absolute;
        @include align(c, c);
        height: 83.33%;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        /* Fix of Webkit flickering */
        z-index: 1;
    }

    &__swiper {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        transition-property: transform, -webkit-transform;
        box-sizing: content-box;
        transform: translate3d(0px, 0, 0);

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            height: 100%;
            font-size: 0.83rem;
            font-weight: 600;
            user-select: none;
            pointer-events: none;

            a {
                white-space: nowrap;
                user-select: none;
            }

            &.item--active,
            &.item--prev,
            &.item--next {
                pointer-events: auto;
            }
        }
    }

    &__cover {
        position: absolute;
        @include align(c, c);
        overflow: hidden;
        height: 66%;
        width: 66%;
    }
}
