link(href='./assets/fonts/stylesheet.css' rel='stylesheet' media='none' onload="media='all'")
link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' media='none' onload="media='all'")