footer.footer#footer(style='opacity: 0;')
	.footer__block--left
		a.footer__block__item--social(data-cursor-events='hover' href='https://www.behance.net/oleg_savenok' target='_blank') be
		a.footer__block__item--social(data-cursor-events='hover' href='/contact' target='_blank') dr
		a.footer__block__item--social(data-cursor-events='hover' href='/contact' target='_blank') tw

	.footer__block--center
		p.footer__block__item(data-cursor-events='hover') drag or scroll to discover

	.footer__block--right
		a.footer__block__item(data-cursor-events='hover' data-router-link='contact' href='/contact') say hi