header.header#header(style='opacity: 0;')
	h1(style='display: none;') Oleg Savenok
	h2.header__logo
		a(data-router-link='index' data-cursor-events='hover' href='/') o.sa.

	nav.header__nav
		ul.header__nav__list
			li.header__nav__list__item
				a(data-cursor-events='hover' data-router-link='about' href='/about') about