doctype html
html(lang='en')
	head
		title Oleg Savenok • Creative Developer & UI Designer

		//-
			Meta tags with common page information and
			social media tags with sharing information
		include components/common/meta-tags
		include components/common/social-media


	body(data-page-name='index' style='overflow-x: hidden; background-color: #050505;')

		// Header ------------------------------------------------------------------------------------------------------
		include components/header

		// Page --------------------------------------------------------------------------------------------------------
		.page#page(style='overflow: hidden; text-align: center;')

			// Projects swiper
			.projects#projects(style='opacity: 0;')
				.container-full
					.projects__container#projectsSwiper(data-icon='unfold_more')
						.projects__swiper

							.projects__swiper__item
								a(href='#' data-icon='search') Design & Acoustics

							.projects__swiper__item
								a(href='#' data-icon='search') Recital

							.projects__swiper__item
								a(href='#' data-icon='search') Alfa Bank Concept

							.projects__swiper__item
								a(href='#' data-icon='search') Uberex

							.projects__swiper__item
								a(href='#' data-icon='search') Foreman Quiz

							.projects__swiper__item
								a(href='#' data-icon='search') Module

					.projects__cover#cover(data-img='./assets/images/alfa-bank.jpg')

		// Footer ------------------------------------------------------------------------------------------------------
		footer.footer#footer(style='opacity: 0;')
			.footer__event-button#footerEventButton
				p.footer__event-button__item(data-cursor-events='hover') drag or scroll to discover

		.project-loading
			#projectLoadingProgress.project-loading__percent

		// Preloader ---------------------------------------------------------------------------------------------------
		include components/preloader

		// Cursor ------------------------------------------------------------------------------------------------------
		include components/cursor


		// External links ----------------------------------------------------------------------------------------------
		include components/common/external-links