// Mixins
@import "../../styles/base/mixins/indentation";

// Layout
@import "../../styles/layout/text-btn";

// Footer styles

.footer {
	position: fixed;
	z-index: 50000;
	@include indentation(left);
	@include indentation(right);
	@include indentation(bottom);
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	&__block {
		&--center {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		
		&__item {
			@extend .text-btn;
			padding: 0;
			margin: 0;
			float: left;
			
			&--social {
				@extend .footer__block__item;
				margin-right: 0.33rem;
			}
		}
	}
}
