// Dark Theme

@import './variables';

body.theme--dark {
    color: $white;
    background-color: $black;

    #app {
        background-color: $black;
    }

    .preloader {
        background-color: $white;
    }

    .cursor {
        background-color: $white;

        &__icon,
        &__icon--drag {
            color: $black;
        }

        &__spiner {
            border-bottom-color: #fff;
        }
    }

    .header,
    footer {
        color: $white;
    }

    .project-loading__percent {
        background-color: $white;
    }
}
