// Dark Theme

@import './variables';

html,
body {
    color: $white;
    background-color: $black;
}

.preloader {
    background-color: $black;
}

.cursor {
    background-color: $white;

    &__icon,
    &__icon--drag {
        color: $black;
    }

    &__spiner {
        border-bottom-color: #fff;
    }
}

.header,
footer {
    color: $white;
}
